.generalContainer{
    padding: 20px;
    margin: 0px!important;
    max-width: 100%!important;
    background-color: #F2F2F2;
}

.generalContainer h1{
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 20px!important;
}

.containerTotalUsers{
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.containerNewUser{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.containerNewUser form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(121, 121, 121);
    font-size: 13px;
}

.containerNewUser form{
    max-width: 100%!important;
    width: 100%!important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.containerNewUser form input:not([type="submit"]){
    height: 50px!important;
    border: 1px solid lightgray;
    color: rgb(121, 121, 121);
    padding: 10px;
    border-radius: 10px;
}

.containerNewUser form select{
    height: 50px!important;
    border: 1px solid lightgray;
    color: rgb(121, 121, 121);
    padding: 10px;
    border-radius: 10px;
}

.containerNewUser form input[type="submit"]{
    border-radius: 10px;
}

.deactivate{
    display: none;
}

.containerTotalUsers span{
    color: #262626!important;
}

.tableContainer{
    border-top: 1px solid lightgray;
    margin-top: 15px;
    padding-top: 20px;
    margin-left: 0px!important;
    margin-right: 0px!important;
    
    
    max-width: 100%!important;
}



.buttonsAndTotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px!important;
    margin-right: 0px!important;
    max-width: 100%!important;
}

.containerButtons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.containerButtons button{
    border-radius: 5px!important;
}

table{
    border: none!important;
    background-color: #F2F2F2!important;
    border-spacing: 0px 20px;
}

table, td, th {
    border: none!important;
    text-align: start!important;
}

tbody tr td{
    font-weight: 600;
    color: black;
    font-size: 18px;
}

.profileAvatar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
}

tbody tr{
    -webkit-box-shadow: 0px 5px 15px -8px #00000000; 
    box-shadow: 0px 5px 15px -8px #00000000;
}

tbody tr:hover{
    background-color: rgb(230, 230, 230);
    transition: all 0.5s;
    -webkit-box-shadow: 0px 5px 15px -8px #000000; 
    box-shadow: 0px 5px 15px -8px #000000;
}

thead tr th{
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(121, 121, 121);
    font-size: 13px;
}

tbody tr td{
    padding: 15px;
    background-color: white!important;
}

tbody tr{
    border-radius: 5px;
}

.edit form button{
    color: #4843D9!important;
    background-color: transparent!important;
    cursor: pointer;
    padding: 0px!important;
}

.delete form button{
    border: none!important;
    background-color: transparent!important;
    color: #F21B1B!important;
    cursor: pointer;
    padding: 0px!important;
}

.role{
    color: #635ef3;
    background-color: #7571e026;
    border-radius: 5px;
    padding: 7px;
}

.containerSendEmail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    width: 400px!important;
    height: max-content;
    background-color: white;
    bottom: 0;
    right: 0;
    margin-right: 50px!important;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 2px 31px -11px #000000; 
    box-shadow: 0px 2px 31px -11px #000000;
    transform: translateX(100vw);
    transition: all 0.5s;
}

.containerSendEmail form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.containerSendEmail form label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(121, 121, 121);
    font-size: 13px;
}

.containerSendEmail form input:not([type="submit"]){
    height: 50px!important;
    border: 1px solid lightgray;
    color: rgb(121, 121, 121);
    padding: 10px;
    border-radius: 10px;
}


.containerSendEmail input[type="submit"]{
    border-radius: 10px;
}

.containerCloseEmail{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 15px;
    width: 100%;
}

.containerSendEmail span{
    cursor: pointer;
}

.emailsend{
    color: #4843D9;
    cursor: pointer;
}

.emailsend span{
    margin-top: 3px;
}

.containerFormat{
    max-width: 100%!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    background-color: #F2F2F2;
    padding: 10px;
}

.successContainer{
    max-width: 100%!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    background-color: #7DF26B;
    color: white;
}


.successContainer p{
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.failedContainer{
    max-width: 100%!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;
    background-color: #f21b1b;
    color: white;
}

.failedContainer p{
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.containerPagination{
    max-width: 100%!important;
    width: 100%!important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px 0px;
}

.noUsersContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 100%!important;
    width: 100%!important;
}


